<!DOCTYPE html>
<html>
<head>
    <title>konwersja typów tabelarycznych</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
</head>
<body>
<h1 class="text-center">Konwersja typów tabelarycznych</h1>
<hr/>
<div class="container">
    {{ form_start(form, {'attr': {'role': 'form', 'class': 'form-horizontal', 'id': 'converterForm'} }) }}

    <div class="form-group" style="display: none" id="inputTypeSelection">
        <label for="conversion_type" class="col-sm-2 control-label">Wczytaj template</label>

        <div class="col-sm-10">
            <select class="form-control" name="conversion[type]" id="conversion_input">
                <option value="" selected="selected" disabled>Wybierz typ wejściowy</option>
                {% for alias,name in inputTypes %}
                    <option value="{{ alias }}">{{ name }}</option>
                {% endfor %}
            </select>

            <p class="text-muted">Możesz także wpisać dane ręcznie</p>
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.data, 'Dane wejściowe', {'label_attr': {'class': 'col-sm-2 control-label'} }) }}
        <div class="col-sm-10">
            {{ form_widget(form.data, {'attr': {'class': 'form-control', 'rows': 8, 'style': 'font-family:Lucida Console'} }) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.type, 'Typ docelowy', {'label_attr': {'class': 'col-sm-2 control-label'} }) }}
        <div class="col-sm-10">
            {{ form_widget(form.type, {'attr': {'class': 'form-control'} }) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}, 'label': 'Konwertuj' }) }}
        </div>
    </div>

    {{ form_end(form) }}
</div>
<hr/>
<div class="container">
    <pre class="text-left">{{ conversionResult }}</pre>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//code.jquery.com/jquery.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script>
    $('#conversion_save').hide();
    $('#inputTypeSelection').show();

    $('#conversion_type')
        .on('change', function () {
            $('#converterForm').submit();
        })
        .find('option').first().attr('disabled', 'disabled');

    $('#conversion_input').on('change', function () {
        var $this = $(this);
        $.ajax({
            type: 'POST',
            url: '/samples',
            data: {
                type: $this.val()
            },
            dataType: "json",
            success: function (response) {
                $('#conversion_data').text(response);
            }
        });
    });
</script>
</body>
</html>