<table>
    <tr>
        <td>Naglowek1</td>
        <td>Naglowek2</td>
        <td>Naglowek3</td>
    </tr>
    <tr>
        <td>wiersz1kolumna1</td>
        <td>wiersz1kolumna2</td>
        <td>wiersz1kolumna3</td>
    </tr>
    <tr>
        <td>wiersz2kolumna1</td>
        <td>wiersz2kolumna2</td>
        <td>wiersz2kolumna3</td>
    </tr>
</table>
