<ul>
    <li>
        <ul>
            <li>Naglowek1</li>
            <li>Naglowek2</li>
            <li>Naglowek3</li>
        </ul>
    </li>
    <li>
        <ul>
            <li>wiersz1kolumna1</li>
            <li>wiersz1kolumna2</li>
            <li>wiersz1kolumna3</li>
        </ul>
    </li>
    <li>
        <ul>
            <li>wiersz2kolumna1</li>
            <li>wiersz2kolumna2</li>
            <li>wiersz2kolumna3</li>
        </ul>
    </li>
</ul>
